/* Contenedor general de las tarjetas */
.proplan-title {
  font-weight: bold;           /* Hace el texto en negrita */
  text-align: center;          /* Centra el texto */
  font-size: 2rem;             /* Tamaño de fuente grande */
  margin-bottom: 20px;         /* Espaciado debajo del título */
  color: #ffffff;              /* Color del texto */
}
.proplan-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background-color: #333;
    padding: 2rem;
  }
  
  /* Estilo individual para cada tarjeta */
  .proplan-card {
    background-color: #fff;
    border-radius: 20px;         /* Bordes redondeados (puedes ajustar el valor para más o menos curvatura) */
    color: #333;
    padding: 1.5rem;
    text-align: center;
    width: 20rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para las imágenes de cada tarjeta */
  .proplan-icon {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  /* Título dentro de cada tarjeta */
  .proplan-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }
  
  /* Descripción dentro de cada tarjeta */
  .proplan-card p {
    font-size: 0.95rem;
    line-height: 1.5;
  }
  